

/* ADAPTED FROM writ */
html {
  font-family: Palatino, Georgia, Lucida Bright, Book Antiqua, serif;
  font-size: 16px;
  line-height: 1.5rem;
}

textarea, pre, .s {
  font-size: 0.833rem;
}
textarea, pre, .s, h1, nav ul li {
  font-family: Courier New, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, th { font-weight: normal; }

h1 { font-size: 2.488em; }
h2 { font-size: 2.074em; }
small { font-size: 0.833em; }

h1, h2, h3 { line-height: 3rem; }

p, ul, ol, dl, table, blockquote, pre, h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 0;
}
ul ul, ol ol, ul ol, ol ul { margin: 0; }

hr {
  margin: 0;
  border: none;
  padding: 1.5rem 0 0;
}

/* Accounting for borders */
table {
  line-height: calc(1.5rem - 1px);
  margin-bottom: -1px;
}
pre {
  margin-top: calc(1.5rem - 1px);
  margin-bottom: -1px;
}

/* Colors */

body { color: #222; }
code, pre, samp, kbd { color: #111; }
a, nav a:visited { color: #00e; }
a:visited { color: #60b; }
mark { color: inherit; }

code, pre, samp, thead, tfoot { background-color: rgba(0, 0, 0, 0.05); }
mark { background-color: #fe0; }

main aside, blockquote, ins { border: solid rgba(0, 0, 0, 0.05); }
pre, code, samp { border: solid rgba(0, 0, 0, 0.1); }
th, td { border: solid #dbdbdb; }

/* Layout */

body { margin: 1.5rem 1ch; }

body > header { text-align: center; }

main, body > footer {
  display: block; /* Just in case */
  max-width: 78ch;
  margin: auto;
}

main figure, main aside {
  float: right;
  margin: 1.5rem 0 0 1ch;
}

main aside {
  max-width: 26ch;
  border-width: 0 0 0 0.5ch;
  padding: 0 0 0 0.5ch;
}

/* Copy blocks */

blockquote {
  margin-right: 3ch;
  margin-left: 1.5ch;
  border-width: 0 0 0 0.5ch;
  padding: 0 0 0 1ch;
}

pre {
  border-width: 1px;
  border-radius: 2px;
  padding: 0 0.5ch;
  overflow-x: auto;
}
pre code {
  border: none;
  padding: 0;
  background-color: transparent;
  white-space: inherit;
}

img { max-width: 100%; }

/* Lists */

ul, ol, dd { padding: 0 0 0 3ch; }
dd { margin: 0; }

a { outline: 0; }

dd { padding: 0; margin: 1em 0 2em;}
dt { font-weight: bold; }

ul > li { list-style-type: disc; }


nav ul {
  padding: 0;
  list-style-type: none;
}
nav ul li {
  display: inline;
  padding-left: 1ch;
  white-space: nowrap;
}
nav ul li:first-child { padding-left: 0; }

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

th, td {
  border-width: 1px;
  padding: 0 0.5ch;
}

/* Copy inline */

a { text-decoration: none; }




Xform { padding: 1em; }
textarea { width: 98%; padding: 5px; }
pre { font-size: 120%; padding: 5px; margin-top: 2px;
      white-space: pre-wrap; }
h2 {margin: 0;}
header { max-width: 78ch; margin:auto; }
nav ul li { padding: 4px 0; width: 25%; display:inline-block; 
  font-size: 120%; }
nav li a { display: inline-block; width:100%; }
nav li { margin-bottom: 1em; }
form { display: none; }

.put form.put { display: block; }

table.files tr { background-color: #a1cd73; }
table.files th { background-color: #4faa92; }

/* colors */
Xform { background: #b8d5d9; }
Xnav li { background: #e8f5f9; }
.put li.put,
.get li.get,
.pay li.pay, 
.faq li.faq { border: #b8d5d9 1px solid; }

A.progress { background-color: lightblue; }
pre,textarea { background-color: orange; }

textarea { font-size:130%; font-family: monospace; }

thead,tbody,tr { background-attachment:fixed !important; }

/* PUT screen phases */
.uploading      #put_selectfiles  { display: none; }
                #put_filelist     { display: none; }
.files_selected #put_filelist     { display: inherit; }

.files_selected      .reset { display: inherit; }
                #put_doupload     { display: none; }
.files_selected #put_doupload     { display: inherit; }
.uploading      #put_doupload     { display: none; }
.uploading_done #put_doupload     { display: none; }
.uploading      .rm     { display: none; }
.uploading_done .rm     { display: none; }

                #put_progress     { display: none; }
.uploading      #put_progress     { display: inherit; }
.uploading_done #put_progress     { display: none; }

                #put_retrieveinfo { display: none; }
.files_selected #put_retrieveinfo { display: inherit; }
.uploading      #put_retrieveinfo { display: inherit; }
.uploading_done #put_retrieveinfo { display: inherit; }

                #put_uploaddone   { display: none; }
.uploading_done #put_uploaddone   { display: inherit; }


/* GET screen phases */
                #get_notfound     {display: none; }
.get_notfound   #get_notfound     {display: inherit; }


                #get_found        {display: none; }
.get_found      #get_found        {display: inherit; }
.get_found      #get_input p      {display: none; }

.get_found      .reset { display: inherit; }

                 #get_downloading   {display: none; }
.get_downloading #get_downloading   {display: inherit; }

.get_downloading #get_decryptbutton {display: none; }
.get_decrypting #get_decryptbutton {display: none; }

                #get_decrypting    {display: none; }
.get_decrypting #get_decrypting    {display: inherit; }

                #get_decryptiondone { display: none; }

table, tbody {width: 100%; }
table td, th { text-align: right; }
table td.s, th.s { text-align: right; font-family: monospace; font-size:80%; }
table.progress td { width: 20%; }
table td.n, th.n { width: 40%; text-align: left; }

.progress { background-color: white; }

.error { display: none; color: red; }

.reset { display: none; float: right; }

#put_submit { font-size: 140%; }
#put_uploaddone { font-size: 120%; font-weight: bold; }

span.btc { font-family: monospace; border: 1px solid black; background: white; padding: 3px 10px;}
img.btc { display: block; margin: auto; }
 h2 { font-size: 120%; font-weight: bold; line-height: 1em; margin: 1.5em 0 1em;}

form.get li { font-size: 80%; }

#get_decrypting table { margin: 0; }
